@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1, h2, h3, h4, h5, h6, th {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

p, a, button, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
    margin: 0;
    padding: 10px;
    min-width: 400px;
}

h1 {
    display: inline-block; 
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    vertical-align: middle; 
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

#top-bar{
    align-content: center;
    height: 100px;
}

.listDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#input{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease-in-out;
}

#input:focus {
    outline: none;
    border-color: #0066cc;
  }
  
button{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease-in-out;
}
button:hover{
    color: white;
    background-color: #ccc;
    transition: 0.4s;
    cursor: pointer;
}

li{
    list-style-type: none;
    font-size: 30px;
}

hr{
    width: 300px;
    height: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

ul{
    padding: 0px;
}

#listItem:hover{
    background-color: #ccc;
    transition: 0.3s;
}

